<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jrdcom.android.gallery3d"
    android:versionCode="40001"
    android:versionName="1.1.40001" >

    <original-package android:name="com.jrdcom.android.gallery3d" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="16" />

    <permission
        android:name="com.android.gallery3d.permission.GALLERY_PROVIDER"
        android:protectionLevel="signatureOrSystem" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <!-- FR450344-yanlong.li@tcl.com-begin -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- FR450344-yanlong.li@tcl.com-end -->
    <!-- add permission for theme2 begin -->
    <permission android:name="com.jrd.permission.SWITCH_JRDTHEME"/>
    <uses-permission android:name="com.jrd.permission.SWITCH_JRDTHEME"/>
    <!-- PR488241 add-by-qjz-20130723 -->
    <uses-permission android:name="com.android.email.permission.READ_ATTACHMENT"/>
    <!-- add permission for theme2 end-->
    <!-- CR535794-lilei-begin -->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <!--804069 fixed by hongqi.tian.hz for qrcode at 20141011 begin -->
    <!-- added by hongqi.tian.hz for qrcode at 20140110 begin  removed for 630898 leiming-->
  <uses-permission android:name="android.permission.FLASHLIGHT"/>
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- add start by yaping.liu for wfd -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- add end by yaping.liu for wfd -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
      <!-- added by hongqi.tian.hz for qrcode at 20140110 end-->
      <!--804069 fixed by hongqi.tian.hz for qrcode at 20141011 end-->
     
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false" />
    <!-- FR497604-jian.shen@tcl-nj.com-begin -->
    <application android:icon="@mipmap/ic_launcher_gallery" android:label="@string/app_name"
            android:name="com.jrdcom.android.gallery3d.app.GalleryAppImpl"
            android:theme="@style/Theme.Gallery"
            android:logo="@mipmap/ic_launcher_gallery"
            android:hardwareAccelerated="false"
            android:supportsRtl="true"
            android:largeHeap="true">
    <!-- FR497604-jian.shen@tcl-nj.com-end -->
        <uses-library android:name="com.google.android.media.effects" android:required="false" />
        <!-- FR487566-modified by qjz 2013-07-31 -->
        <activity android:name="com.jrdcom.android.gallery3d.app.MovieActivity"
                android:label="@string/movie_view_label"
                android:icon="@mipmap/video_app"
                android:taskAffinity="com.mediatek.videoplayer"
                android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
             </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="application/sdp" />
             </intent-filter>
             <intent-filter>
                !-- HTTP live support -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
             </intent-filter>
        </activity>
        <activity android:name="com.jrdcom.mediatek.gallery3d.video.VideoSettingsActivity"
                android:label="@string/settings"
                android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc">
        </activity>
        //add by qjz for Gallery NewUI 2013-04-23 begin
        <activity android:name="com.jrdcom.android.gallery3d.app.HideAlbumActivity"
                android:label="@string/app_name"
                android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc">
             <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
	    
        </activity>
	 <!-- FR450344-yanlong.li@tcl.com-begin -->
         <!-- PR488241 -qjz-20130716-begin -->
        <service android:name="com.jrdcom.android.gallery3d.app.PopupWindowMovieActivity"
                 android:grantUriPermissions="true">
        <!-- PR488241 -qjz-20130716-end -->
            <intent-filter>
                <action android:name="com.jrdcom.action.INIT_POPUPWINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter> 
            <!-- PR480767 -qjz-begin -->
            <intent-filter>
                <action android:name="com.jrdcom.action.INIT_POPUPWINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
             </intent-filter>
             <intent-filter>
                <action android:name="com.jrdcom.action.INIT_POPUPWINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
                <data android:mimeType="application/sdp" />
             </intent-filter>
             <intent-filter>
                <!-- HTTP live support -->
                <action android:name="com.jrdcom.action.INIT_POPUPWINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="audio/x-mpegurl" />
                <data android:mimeType="audio/mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
                <data android:mimeType="application/x-mpegurl" />
             </intent-filter>
             <!-- PR480767 - qjz-end -->
            <intent-filter>
                <action android:name="com.jrdcom.action.CHANGE_PLAY_STATUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
            
            <intent-filter>
                <action android:name="com.jrdcom.action.BACK_TO_NORMAL_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter> 
            <!-- add by qjz for PR495700:It will occur the force close prompt when play popup video 20130729 -->
            <intent-filter>
                <action android:name="com.jrdcom.action.CLOSE_POPUP_WINDOW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
	<!-- FR450344-yanlong.li@tcl.com-end -->    
        //add by qjz for Gallery NewUI 2013-04-23 end
        <activity android:name="com.jrdcom.android.gallery3d.app.Gallery" android:label="@string/app_name"
                android:configChanges="keyboardHidden|orientation|screenSize|mnc|mcc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_GALLERY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
            </intent-filter>
	    <!-- add start by yaping.liu for pr470425 -->
            <intent-filter>
                <action android:name="com.jrdcom.action.GET_MULTIPLE_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <data android:mimeType="video/*" />
            </intent-filter>
	    <!-- add end by yaping.liu for pr470425 -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.OPENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.jrdcom.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
                <data android:mimeType="vnd.android.cursor.dir/image_video" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/vnd.wap.wbmp" />
                <data android:mimeType="application/vnd.google.panorama360+jpg" />
                <!-- M: added for mpo -->
                <data android:mimeType="image/mpo" />
                <!-- M: added for jps -->
                <data android:mimeType="image/x-jps" />
                <!-- M: added for webp -->
                <data android:mimeType="image/webp" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <!-- We do NOT support the PICK intent, we add these intent-filter for
                 backward compatibility. Handle it as GET_CONTENT. -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/image" />
                <data android:mimeType="vnd.android.cursor.dir/video" />
            </intent-filter>
        </activity>


<!-- 603350 add by hongqi.tian for LiveFilter at 20140217 begin -->
        <activity android:name="com.android.jrdcamera.effects.LiveFilterCamera"
                android:taskAffinity="com.android.camera"
                android:label="@string/camera_label"
                android:theme="@style/ThemeCamera"
                android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc|smallestScreenSize|uiMode|screenLayout|navigation|keyboard|touchscreen"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
<!--603350 add by hongqi.tian for LiveFilter at 20140217 end-->


<!--804069 fixed by hongqi.tian.hz for qrcode at 20141011 begin -->
        <!--added by hongqi.tian.hz for qrcode at 20140110 begin //removed  630898-->
    <activity android:name="com.android.jrdcamera.qrcode.PreferencesActivity"
              android:icon="@drawable/title_qr"
              android:label="@string/preferences_name"
              android:stateNotNeeded="true">
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.encode.EncodeActivity"
              android:stateNotNeeded="true">
      <intent-filter>
        <action android:name="com.google.zxing.client.android.ENCODE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
      <!-- This allows us to handle the Share button in Contacts. -->
      <!-- intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/x-vcard"/>
      </intent-filter -->
      <!-- This allows us to handle sharing any plain text . -->
      <!-- intent-filter>
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter-->
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.book.SearchBookContentsActivity"
              android:label="@string/sbc_name"
              android:stateNotNeeded="true"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden">
      <intent-filter>
        <action android:name="com.google.zxing.client.android.SEARCH_BOOK_CONTENTS"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.share.ShareActivity"
              android:stateNotNeeded="true"
              android:screenOrientation="user">
      <intent-filter>
        <action android:name="com.google.zxing.client.android.SHARE"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.history.HistoryActivity"
              android:label="@string/history_title"
              android:stateNotNeeded="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.share.BookmarkPickerActivity"
              android:label="@string/bookmark_picker_name"
              android:stateNotNeeded="true">
      <intent-filter>
        <action android:name="android.intent.action.PICK"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.share.AppPickerActivity"
              android:label="@string/app_picker_name"
              android:stateNotNeeded="true"
              android:configChanges="orientation">
      <intent-filter>
        <action android:name="android.intent.action.PICK"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name="com.android.jrdcamera.qrcode.HelpActivity"
              android:screenOrientation="user">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
        <!--added by hongqi.tian.hz for qrcode at 20140110 end-->
        <!--804069 fixed by hongqi.tian.hz for qrcode at 20141011 end-->

        <!-- we add this activity-alias for shortcut backward compatibility -->
        <!-- Note: The alias must put after the target activity -->
        <activity-alias android:name="com.cooliris.media.Gallery"
                android:targetActivity="com.jrdcom.android.gallery3d.app.Gallery"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity-alias>

        <!-- This activity receives USB_DEVICE_ATTACHED Intents and springboards to main Gallery activity. -->
        <activity android:name="com.jrdcom.android.gallery3d.app.UsbDeviceActivity" android:label="@string/app_name"
                android:taskAffinity=""
                android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <activity android:name="com.jrdcom.android.gallery3d.app.Wallpaper"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/android:Theme.Translucent.NoTitleBar">
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.intent.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- add for PR 631865 by GuiChen begin -->
            <intent-filter android:label="@string/camera_setas_wallpaper">
                <action android:name="android.drm.action.ATTACH_DATA" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- add for PR 631865 by GuiChen end -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.wallpaper.preview"
                    android:resource="@xml/wallpaper_picker_preview" />
        </activity>
        <activity android:name="com.jrdcom.android.gallery3d.app.CropImage"
                android:configChanges="keyboardHidden|orientation|screenSize|mnc|mcc"
                android:label="@string/crop_label"
                android:process=":crop">
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.camera.action.CROP" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <!-- add for PR 658251 by guichen begin -->
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.drm.action.CROP" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
            <!-- add for PR 658251 by guichen end -->
        </activity>
        <activity android:name="com.jrdcom.android.gallery3d.app.TrimVideo"
                android:label="@string/trim_label">
        </activity>

        <permission android:name="com.android.gallery3d.filtershow.permission.READ"
                    android:protectionLevel="signature" />

        <permission android:name="com.android.gallery3d.filtershow.permission.WRITE"
                    android:protectionLevel="signature" />

        <provider
            android:name="com.jrdcom.android.gallery3d.filtershow.provider.SharedImageProvider"
            android:authorities="com.jrdcom.android.gallery3d.filtershow.provider.SharedImageProvider"
            android:grantUriPermissions="true"
            android:readPermission="com.android.gallery3d.filtershow.permission.READ"
            android:writePermission="com.android.gallery3d.filtershow.permission.WRITE" />
        <!-- 
         <activity
            android:name="com.jrdcom.android.gallery3d.filtershow.FilterShowActivity"
            android:label="@string/title_activity_filter_show"
            android:theme="@style/Theme.Gallery"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.camera.action.EDITOR_CROP" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
         -->
         <!-- yaogang.hao for PR535931  -->
         <!-- yaogang.hao for PR 544189 -->
          <!-- PR939487 modify for picture is unclear by fengke at 2015.03.06
          android:theme="@style/Theme.Gallery"
          android:theme="@style/Theme.FilterShow"
          -->
        <activity
            android:name="com.jrdcom.android.gallery3d.filtershow.FilterShowActivity"
            android:label="@string/title_activity_filter_show"
            android:theme="@style/Theme.FilterShow"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="action_nextgen_edit" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
            </intent-filter>
            <intent-filter android:label="@string/crop_label">
                <action android:name="com.android.camera.action.EDITOR_CROP" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jrdcom.android.gallery3d.filtershow.BeautyMainActivity"
            android:label="@string/title_activity_filter_show"
            android:theme="@style/Theme.Gallery"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity android:name="com.jrdcom.mediatek.gallery3d.pq.PictureQualityTool"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:label="@string/pq_label"
                android:process=":pq">
            <intent-filter android:label="@string/pq_label">
                <action android:name="com.android.camera.action.PQ" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:scheme="" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.ALTERNATIVE" />
                <category android:name="android.intent.category.SELECTED_ALTERNATIVE" />
            </intent-filter>
        </activity>
        <uses-library android:name="com.google.android.media.effects"
                android:required="false" />

        <activity android:name="com.jrdcom.android.gallery3d.app.SlideshowDream"
                android:label="@string/slideshow_dream_name"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DREAM" />
            </intent-filter>
        </activity>

        <activity android:name="com.jrdcom.android.gallery3d.settings.GallerySettings"
                android:theme="@style/Theme.Gallery"
                android:configChanges="orientation|keyboardHidden|screenSize" />

<!-- M: GalleryProvider is temporarily not use, so disable here
        <provider android:name="com.android.gallery3d.provider.GalleryProvider"
                android:syncable="false"
                android:grantUriPermissions="true"
                android:authorities="com.android.gallery3d.provider" />
-->
 
        <activity android:name="com.jrdcom.android.gallery3d.gadget.WidgetClickHandler" />
        <activity android:name="com.jrdcom.android.gallery3d.app.DialogPicker"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/DialogPickerTheme"/>
        <activity android:name="com.jrdcom.android.gallery3d.app.AlbumPicker"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/DialogPickerTheme">
            <intent-filter>
                <action android:name="com.mediatek.action.PICK_VIDEO_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.mediatek.action.PICK_IMAGE_FOLDER" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="img/*"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jrdcom.android.gallery3d.gadget.WidgetTypeChooser"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/Theme.Gallery.Dialog"/>

        <activity android:name="com.android.jrdcamera.Camera"
                android:taskAffinity="com.android.camera"
                android:label="@string/camera_label"
                android:theme="@style/ThemeCamera"
                android:icon="@mipmap/ic_launcher_camera"
                android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc|smallestScreenSize|uiMode|screenLayout|navigation|keyboard|touchscreen"
                android:clearTaskOnLaunch="true"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias android:icon="@mipmap/ic_launcher_video_camera"
                        android:label="@string/video_camera_label"
                        android:name="com.android.jrdcamera.VideoCamera"
                        android:targetActivity="com.android.jrdcamera.Camera" >
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity-alias android:icon="@mipmap/ic_launcher_camera"
                        android:label="@string/camera_label"
                        android:name="com.android.jrdcamera.CameraLauncher"
                        android:targetActivity="com.android.jrdcamera.Camera" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name="com.android.jrdcamera.PanoramaActivity"
                android:taskAffinity="com.android.camera"
                android:label="@string/pano_dialog_title"
                android:theme="@style/ThemeCamera"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:clearTaskOnLaunch="true"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
        </activity>
        <!-- PR-462379-Yuguo-Yu-001 remove widget as CN request
        <receiver android:name="com.jrdcom.android.gallery3d.gadget.PhotoAppWidgetProvider"
                android:label="@string/appwidget_title">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                    android:resource="@xml/widget_info" />
        </receiver>
        -->
        <receiver android:name="com.jrdcom.android.gallery3d.app.PackagesMonitor">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:name="com.jrdcom.android.gallery3d.app.PackagesMonitor$AsyncService"/>
        <receiver android:name="com.android.jrdcamera.CameraButtonIntentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CAMERA_BUTTON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.android.jrdcamera.DisableCameraReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.jrdcom.android.gallery3d.gadget.WidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name="com.jrdcom.android.gallery3d.gadget.DefaultWidgetService"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <activity android:name="com.jrdcom.android.gallery3d.gadget.WidgetConfigure"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@style/android:Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name="com.jrdcom.android.gallery3d.app.TrimVideo"
                android:label="@string/trim_label">
        </activity>
           
        
        <!-- M: added for MAV playback -->
        <activity android:name="com.jrdcom.mediatek.gallery3d.mav.MavViewer"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden|screenSize|mnc|mcc" >
            <intent-filter>
                <action android:name="com.mediatek.action.VIEW_MAV"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/mpo"/>
            </intent-filter>
        </activity>
        <activity android:name="com.jrdcom.mediatek.gallery3d.video.SettingsActivity"
            android:label="@string/streaming_settings"
            android:icon="@android:drawable/ic_menu_preferences"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo"
            >
            <intent-filter>
               <action android:name="com.mediatek.settings.streaming" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.jrdcom.mediatek.gallery3d.video.BookmarkActivity"
            android:label="@string/bookmark_list"
            android:icon="@drawable/ic_menu_display_bookmark"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo"
            >
            <intent-filter>
               <action android:name="com.mediatek.bookmark.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
		<activity android:name="com.mediatek.jrdcamera.panorama.PanoramaActivity"
                android:label="@string/pano_dialog_title"
                android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                android:clearTaskOnLaunch="true">
        </activity>
        <activity android:name="com.mediatek.jrdcamera.mav.MavActivity"
            	android:label="@string/mav_dialog_title"
            	android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.camera.PicturePicker"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>

        <!-- add by hui.xu@2013/2/5 begin -->
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ablum_main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
      <!--  PR928014 [Gallery]The album information don't dispaly under stitch option modified by limin.zhuo 20150302 begin -->
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.HAblum_Main"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
     <!--  PR928014 [Gallery]The album information don't dispaly under stitch option modified by limin.zhuo 20150302 end-->
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.PinTuTabActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ActivityFreedom"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ActivityJoint"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ActivityTemplate"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ActivityTemplateSetStyle"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.example.joinpic.ActivityTemplateSetBg"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- add by hui.xu@2013/2/5 end -->

        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyColorActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyEffectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyFrameActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyMosaicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyWordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyBlurActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.BeautyMopiActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.IMGEditActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:configChanges="orientation|screenSize|keyboardHidden|mnc|mcc"
            android:name="com.jrdcom.android.gallery3d.ui.EditWordsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!--FR450225 449463 jingang.yi@tcl.com 2013-05-02 begin-->
        <provider android:name="com.iflytek.business.speech.SharedProvider"
                  android:exported="true"
			android:authorities="com.jrdcom.android.gallery3d" />
        <!--FR450225 449463 jingang.yi@tcl.com 2013-05-02 end-->
    </application>

</manifest>
